<mat-card>
  <mat-card-header>
    <mat-card-title>
      <img src="assets/document.svg" />
      <p>
        Prendre un tiket dans le Centre 1
      </p>
    </mat-card-title>
  </mat-card-header>
</mat-card>
<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <p>
      <label>Sexe: </label>
      <mat-radio-group formControlName="sex" class="sex-radio-group">
        <mat-radio-button class="sex-radio-group" [value]="'male'"
          >Homme</mat-radio-button
        >
        <mat-radio-button class="sex-radio-group" [value]="'female'"
          >Femme</mat-radio-button
        >
      </mat-radio-group>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input formControlName="name" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Motif</mat-label>
        <input formControlName="reason" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Tel</mat-label>
        <input formControlName="tel" type="text" matInput />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input formControlName="age" type="number" matInput />
      </mat-form-field>
    </p>
    <a href="http://azap.io/cgu" id="CGU">
      En cliquant sur le bouton ci-dessous j’accepte les conditions générales
      d’utilisation du service
    </a>
  </div>
  <div class="form-end fixed-bottom">
    <app-validation-button
      [text]="'Valider'"
      [disabled]="!ticketForm.valid"
    ></app-validation-button>
  </div>
</form>
