<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <h1>Azap</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="'/home'"
        routerLinkActive="active"
        (click)="sidenav.toggle()"
      >
        Home
      </a>
      <a
        mat-list-item
        [routerLink]="'/centers-list'"
        (click)="sidenav.toggle()"
        routerLinkActive="active"
      >
        Centers list
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle()"
        [routerLink]="'/ticket'"
        routerLinkActive="active"
      >
        Ticket
      </a>
      <a
        mat-list-item
        (click)="sidenav.toggle()"
        [routerLink]="'/sms-confirmation'"
        routerLinkActive="active"
      >
        SMS Confirmation
      </a>
      <a
        mat-list-item
        [routerLink]="'/time-tracker'"
        (click)="sidenav.toggle()"
        routerLinkActive="active"
      >
        Time Tracker
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
