<div class="container">
  <div class="shadow">
    <app-tracker-header [state]="state"> </app-tracker-header>

    <app-tracker-countdown id="remaining-time" [hours]="hours" [mins]="mins">
    </app-tracker-countdown>

    <div id="explaination-block">
      <p id="explaination">
        Voici votre temps d’attente estimé, nous vous alerterons par SMS quand
        vous devrez vous rendre au lieu de prise en charge
      </p>
      <button mat-stroked-button color="background">Voir l’itinéraire</button>
    </div>
  </div>
</div>
