<form [formGroup]="ticketReasonForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label>Motif</mat-label>
      <input formControlName="reason" type="text" matInput />
    </mat-form-field>
  </p>

  <div class="container">
    <div class="row">
      <button mat-raised-button (click)="onButtonPress('Fracture')">
        Fracture
      </button>
    </div>
    <div class="row">
      <button mat-raised-button (click)="onButtonPress('Cardio')">
        Cardio
      </button>
    </div>
    <div class="row">
      <button mat-raised-button (click)="onButtonPress('Gastro')">
        Gastro
      </button>
    </div>
    <div class="row">
      <button mat-raised-button color="warn" (click)="onButtonPress('Covid19')">
        Covid19
      </button>
    </div>
  </div>

  <div class="form-end fixed-bottom">
    <app-validation-button
      [text]="'Ok'"
      [disabled]="!ticketReasonForm.valid"
    ></app-validation-button>
  </div>
</form>
