#names {
  width: 100%;
  height: 100%;
  line-height: 100%;
  p {
    margin-bottom: 0;
  }
}

#name {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 130%;
  color: #055d88;
}

#center {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */

  color: #055d88;
}

#ticketNumber {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-align: right;

  color: #055d88;
}
