#ellipse {
  position: absolute;
  left: 25.87%;
  right: 25.87%;
  top: 29.99%;
  bottom: 42.28%;

  box-sizing: border-box;
}

#hours {
  position: absolute;
  left: 38.4%;
  right: 36.53%;
  top: 39.43%;
  bottom: 55.92%;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 38px;
  /* or 69% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #055d88;
}

#mins {
  position: absolute;
  left: 36%;
  right: 30.93%;
  top: 45.28%;
  bottom: 50.07%;
  font-family: Avenir Next;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  /* or 158% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;

  color: #055d88;
}
