#container {
  div {
    display: inline-block;
  }

  padding: 10px;
  margin-left: 5%;

  margin: 10px;
  background: #ffffff;
  border: 2px solid rgba(102, 102, 102, 0.02);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

#center {
  width: 50%;
  padding: 10px;

  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  #name {
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 38px;
    /* identical to box height, or 190% */

    display: flex;
    align-items: center;

    color: #055d88;
  }

  #address {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;

    /* Bleu pro */

    color: #055d87;
  }
}

#time {
  position: relative;
  margin-right: -1px;
  margin-bottom: 0;
  padding-bottom: 0;
}
