<div class="container">
  <div class="images">
    <img src="assets/document.svg" />
    <img src="assets/doctor.svg" />
  </div>

  <p id="bonjour-text">
    Bonjour, bienvenue sur l’interface de prise de ticket pour une consultation
    médicale
  </p>

  <div>
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
      <div id="department-selection">
        <p>Veuillez séléctionner votre département</p>
        <select name="department" formControlName="department">
          <option
            *ngFor="let department of departments | async"
            value="{{ department.name }}"
            selected
            >{{ department.name }}</option
          >
        </select>
      </div>

      <app-validation-button [text]="'Valider'" class="fixed-bottom">
      </app-validation-button>
    </form>
  </div>
</div>
